<%-   include('header')   %>

    <!-- body content  -->
    <div class="aboutus">
        <h2>About Us</h2>
    </div>
    <div class="container my-4 text-center">
        <div class="row featurette d-flex justify-content-center align-items-center ">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Exploring the Intersection of Nature and Technology  </h2><br>
                <p class="lead">Welcome to our blog, a digital sanctuary where nature lovers come together to celebrate the beauty and wonders of the natural world. Here, we invite you to embark on a journey of discovery, inspiration, and connection with the extraordinary tapestry of nature that surrounds us.</p><br>
            </div>
            <div class="col-md-5">
                <img class="img-fluid mb-3" src="images/aboutimg1.jpg" alt="">
            </div>
        </div>

        <div class="row featurette d-flex justify-content-center align-items-center ">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">We started InspireHub in 2002 It’ll Inspire you  </h2><br>
                <p class="lead">At InspireHub, we believe that nature is not just a place to visit, but a source of solace, wisdom, and renewal. We are passionate about fostering a deep appreciation for the environment and sharing the marvels of nature with our readers. Whether you are an avid hiker, a wildlife enthusiast, or simply someone who finds joy in the simplicity of a blooming flower, this is the perfect space for you.</p><br>
            </div>
            <div class="col-md-5 order-md-1">
                <img  class="img-fluid mb-3" src="images/aboutimg2.jpg" alt="">

            </div>
        </div>

        <div class="row featurette d-flex justify-content-center align-items-center ">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Harnessing Technology for Sustainable Living  </h2><br>
                <p class="lead">our blog is not just about showcasing nature's beauty; it's also about raising awareness and promoting conservation. We recognize the urgent need to protect and preserve our fragile environment for future generations. Through informative articles and actionable tips, we will empower you to make sustainable choices in your daily life, ensuring that your love for nature translates into meaningful actions.</p><br>
            </div>
            <div class="col-md-5">
                <img class="img-fluid mb-3" src="images/slider1img.jpg" alt="">
            </div>
        </div>
    </div>

<%-   include('footer')   %>
