  <!-- my footer  -->

  
  <div class="container-fluid p-0 footer pt-4 bg-dark">
    <footer class="text-white text-center text-lg-start">
      <div class="container p-4">
        <div class="row mt-4">
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 block_title">
              <span>ABOUT US</span>
            </h5>
            <p>
              We started our Blogs journey in 2022
            </p>
            <p>
              Our Blogs encourage readers to engage with our content, leave comments, and ask questions.
            </p>
            <div class="mt-4">
              <a href="" type="button" class="btn btn-floating  btn-lg box">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
              <a href="" type="button" class="btn btn-floating  btn-lg box">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="" type="button" class="btn btn-floating  btn-lg box">
                <i class="fa-brands fa-twitter"></i>
              </a>
              <a href="" type="button" class="btn btn-floating  btn-lg box">
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 pb-1 block_title">
              <span>CONTACT</span>
            </h5>
            <ul class="fa-ul" style="margin-left: 1.65em;">
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Feel free to contact us through :</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-envelope"></i></span><span
                  class="ms-2">shaymsharma15062002@gmail.com</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+91-6261023610 </span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2"> +91-6261023610</span>
              </li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 block_title"><span>Support</span></h5>

            <table class="table text-center text-white">
              <tbody class="font-weight-normal">
                <tr>
                  <td>Contact</td>
                  <td>+91-6261023610</td>
                </tr>
                <tr>
                  <td>Terms of Use</td>
                  <td>Privacy</td>
                </tr>
                <tr>
                  <td>Creator Terms</td>
                  <td>Our Blogs</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <div class="text-center p-3 copy">
        © 2022 Copyright:
        <a class="text-white" href="">Shyam Sharma </a>
      </div>
      <div class="container text-white">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3 text-white">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">About</a></li>
          </ul>
          <p class="text-center text-white">© 2020 iCoder, Inc</p>
        </footer>
      </div>
    </footer>
  </div>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>